<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <form action="/cart/checkout" method="POST" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="lg:flex lg:gap-16">
      
      <!-- Left: Delivery Details and Payment Method -->
      <div class="lg:w-1/2">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Delivery Details</h2>
        
        <div class="space-y-4 mt-6">
          <!-- Delivery Details Form -->
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label for="your_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Your name</label>
              <input type="text" id="your_name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="Bonnie Green" required />
            </div>

            <div>
              <label for="your_email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Your email*</label>
              <input type="email" id="your_email" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="name@flowbite.com" required />
            </div>

            <div>
              <label for="select-country-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Country*</label>
              <select id="select-country-input-3" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                <option selected>United States</option>
                <option value="AU">Australia</option>
                <option value="FR">France</option>
                <option value="ES">Spain</option>
                <option value="UK">United Kingdom</option>
              </select>
            </div>

            <div>
              <label for="select-city-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">City*</label>
              <select id="select-city-input-3" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                <option selected>San Francisco</option>
                <option value="NY">New York</option>
                <option value="LA">Los Angeles</option>
                <option value="CH">Chicago</option>
                <option value="HU">Houston</option>
              </select>
            </div>

            <div>
              <label for="phone-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Phone Number*</label>
              <input type="text" id="phone-input-3" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="123-456-7890" required />
            </div>

            <div>
              <label for="company_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Company name</label>
              <input type="text" id="company_name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="Flowbite LLC" required />
            </div>

            <div>
              <label for="vat_number" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">VAT number</label>
              <input type="text" id="vat_number" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="DE42313253" required />
            </div>
          </div>
        </div>

        <div class="space-y-4 mt-8">
          <h3 class="block text-sm font-medium text-gray-900 dark:text-white">Delivery Method</h3>
          <div class="space-y-4">
            <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
              <div class="flex items-start">
                <div class="flex h-5 items-center">
                  <input id="dhl" aria-describedby="dhl-text" type="radio" name="delivery-method" value="dhl" class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" checked />
                </div>
                <div class="ms-4 text-sm">
                  <label for="dhl" class="font-medium leading-none text-gray-900 dark:text-white">DHL Fast Delivery</label>
                  <p id="dhl-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">Next day delivery - $15</p>
                </div>
              </div>
            </div>

            <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
              <div class="flex items-start">
                <div class="flex h-5 items-center">
                  <input id="fedex" aria-describedby="fedex-text" type="radio" name="delivery-method" value="fedex" class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                </div>
                <div class="ms-4 text-sm">
                  <label for="fedex" class="font-medium leading-none text-gray-900 dark:text-white">FedEx Free Delivery</label>
                  <p id="fedex-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">Delivery in a few days</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Payment Method -->
        <div class="space-y-4 mt-8">
          <h3 class="block text-sm font-medium text-gray-900 dark:text-white">Payment Method</h3>
          <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
            <div class="flex items-start">
              <div class="flex h-5 items-center">
                <input id="credit-card" aria-describedby="credit-card-text" type="radio" name="payment-method" value="credit-card" class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" checked />
              </div>
              <div class="ms-4 text-sm">
                <label for="credit-card" class="font-medium leading-none text-gray-900 dark:text-white">Credit Card</label>
                <p id="credit-card-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">Pay with your credit card</p>
              </div>
            </div>
          </div>

          <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
            <div class="flex items-start">
              <div class="flex h-5 items-center">
                <input id="paypal" aria-describedby="paypal-text" type="radio" name="payment-method" value="paypal" class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
              </div>
              <div class="ms-4 text-sm">
                <label for="paypal" class="font-medium leading-none text-gray-900 dark:text-white">PayPal</label>
                <p id="paypal-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">Pay using PayPal</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right: Order Summary -->
      <div class="lg:w-1/2 mt-8 lg:mt-0">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Order Summary</h2>

        <div class="mt-6 sm:mt-8">
          <div class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800">
            <table class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed">
              <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
                <% cart.products.forEach(item => { %>
                <tr>
                  <td class="whitespace-nowrap py-4 md:w-[384px]">
                    <div class="flex items-center gap-4">
                      <!-- <a href="#" class="flex items-center aspect-square w-10 h-10 shrink-0">
                        <img class="h-auto w-full max-h-full dark:hidden" src="<%= item.productId.imageUrl %>" alt="<%= item.productId.name %>" />
                        <img class="hidden h-auto w-full max-h-full dark:block" src="<%= item.productId.imageUrlDark %>" alt="<%= item.productId.name %>" />
                      </a> -->
                      <a href="#" class="hover:underline"><%= item.productId.name %></a>
                    </div>
                  </td>

                  <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x<%= item.quantity %></td>

                  <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">$<%= (item.productId.price * item.quantity).toFixed(2) %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

          <div class="mt-4 space-y-6">
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Order Summary</h4>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Original price</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">$<%= cart.products.reduce((sum, item) => sum + item.productId.price * item.quantity, 0).toFixed(2) %></dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Savings</dt>
                  <dd class="text-base font-medium text-green-500">-$0.00</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Store Pickup</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">$0</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Tax</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">$0</dd>
                </dl>
              </div>

              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
                <dd class="text-lg font-bold text-gray-900 dark:text-white">$<%= cart.products.reduce((sum, item) => sum + item.productId.price * item.quantity, 0).toFixed(2) %></dd>
              </dl>
            </div>

            <div class="flex items-start sm:items-center">
              <input id="terms-checkbox-2" type="checkbox" value="" class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" required />
              <label for="terms-checkbox-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                I agree with the <a href="#" class="text-primary-700 underline hover:no-underline dark:text-primary-500">Terms and Conditions</a> of use of the marketplace
              </label>
            </div>

            <div class="gap-4 sm:flex sm:items-center">
              <button type="button" class="w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"><a href="/shopping">Return to Shopping</a></button>

              <button type="submit" class="bg-blue-500 mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0">Send the order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
